a {
    text-decoration: none;
}

.btn {
    background-color: #4dadff;
    border-radius: 6px;
    padding: 16px 44px 15px;
    color: #fff;
    font-family: 'Gotham';
    font-weight: 700;
    font-size: 18px;
    line-height: 28.8px;
    display: inline-block;

    &--white {
        background-color: #fff;
        color: #45a5f0;
    }
}